module(load="omrelp")

template(name="json" type="list") {
  property(name="$.out")
  constant(value="\n")
}

template(name="field_time_generated_iso8601" type="string" string="%timegenerated:::date-rfc3339%")
template(name="field_hostname" type="string" string="%$myhostname%")
template(name="field_data" type="list") {
  property(name="$!all-json-plain")
}

call racdata

ruleset(name="racdata") {
  set $.out!inputname = $inputname;
  set $.out!hostname = $hostname;
  set $.out!myhostname = exec_template("field_hostname");
  set $.out!fromhost-ip = $fromhost-ip;
  set $.out!syslogtag = $syslogtag;
  set $.out!rawmsg = $rawmsg;
  set $.out!timegenerated = exec_template("field_time_generated_iso8601");
  set $.out!data = exec_template("field_data");

  action(
    type="omrelp"
    target={{ racdata_server }}
    port="20514"
    template="json"
    queue.type="linkedlist"
    queue.filename="racdata"
    queue.timeoutenqueue="0"
    queue.maxdiskspace="448m"
    queue.highwatermark="50000"
    queue.lowwatermark="10000"
    queue.timeoutshutdown="10000"
    queue.saveonshutdown="on"
    action.resumeretrycount="-1"
    action.resumeinterval="60"
    action.reportSuspension="on"
    action.writeallmarkmessages="on"
  )
}
